.sc-user-options__toggle {
    float: right;
    color: #68737d;
    margin-right: 10px;
    position: absolute;
    bottom: 7px;
    right: 12px;
    color: #aaa;
    cursor: pointer;
}

.sc-user-options__list {
    display: none;
    position: absolute;
    bottom: 24px;
    left: 10px;
    width: 338px;
    font-size: 14px;
    color: #aaa;
    background:#fff;
    border: 1px solid #ccc;
}

.sc-user-options__list--visible {
    display: block;
}

.sc-user-options__list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sc-user-options__list li {
    padding: 10px;
    cursor: pointer;
}