body {
  padding: 20px;
}

* {
  font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.demo-description {
  max-width: 500px;
}

.demo-test-area {
  width: 300px;
  box-sizing: border-box;
}

.demo-test-area--text {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;
  resize: none;
  font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fafbfc;
  color: #8da2b5;
  border: 1px solid #dde5ed;
  font-size: 16px;
  padding: 16px 15px 14px;
  margin: 0;
  border-radius: 6px;
  outline: none;
  height: 150px;
  margin-bottom: 10px;
}

.demo-test-area--button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  user-select: none;
  border: 1px solid #1271c4;
  line-height: 1.4;
  text-decoration: none;
  background: linear-gradient(to bottom, #1f8ded 0%, #1985e3 100%);
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  height: 50px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.demo-test-area--button:hover {
  border-color: #1271c4;
  background: linear-gradient(to bottom, #1280e0 0%, #0675d6 100%);
}