.demo-footer {
  width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: solid 2px #F0F4FA;
  color: #8694AB;
  font-weight: 100;
  font-size: 14px;
}